@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

$main-color-red : rgb(231, 43, 43);

header{
    #logo{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    #casa-logo{
        font-size: 30px;
        color: $main-color-red;
    }

    .bg-dark{
        transition: 1s ease-in-out;
    }

    #lista{
        a{
            color: white;
        }

        .nav-link{
            font-weight: bolder;
            font-size: 18px;
            margin-right: 20px;
            margin-bottom: 5px;
            text-align: center;
        }

        .nav-link-active{
            color: $main-color-red;
            border-bottom: 1px solid $main-color-red;
        }

        .nav-link:hover{
            color: $main-color-red;
            border-bottom: 1px solid $main-color-red;
            transition: 400ms ease-in-out;
        }

        #login{
            background-color: rgb(231, 43, 43);
            border-radius: 15px;
            padding: 10px;
        }

        #login:hover{
            background-color: transparent;
            border: 1px solid $main-color-red;
            transition: 400ms ease-in-out;
        }
    }

    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: uppercase;
        height: 90vh;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../IMG/header-bg.jpg");
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; //efecto scroll img

        h1{
            -webkit-text-fill-color: $main-color-red;
            -webkit-text-stroke: 1px $main-color-red;
            text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
            font-size: 60px;
            font-weight: bold;
        }

        p{
            font-size: 25px;
            -webkit-text-fill-color: white;
            -webkit-text-stroke: 1px white;
            text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
        }
    }
}

main{
    
    .diff-color-text{
        color: $main-color-red;
    }

    .diff-color-text-list{
        color: $main-color-red;
        font-weight: bold;
        -webkit-text-fill-color: $main-color-red;
        -webkit-text-stroke: 1px black;
    }

    .diff-color-text-list:hover{
        -webkit-text-fill-color: rgb(88, 88, 194);
    }

    .main-title{
        font-size: 45px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 20px auto;
    }

    .nosotros{

        .text-nosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        
        .quienes-somos{
            .text-quienes-somos{
                font-size: 20px;
                padding: 10px;
                border-radius: 10px;
                text-align: justify;
            }
    
            .text-quienes-somos:hover{
                transition: 1s;
                border: 1px solid $main-color-red;
            }

            img{
                border-radius: 10px;
                -webkit-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                margin-bottom: 20px;
            }
        }

        .mv-style{
            display: flex;
            text-align: justify;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .img-mv img{
                border-radius: 5px;
                -webkit-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
            }

            .mision{
                font-size: 17px;
                margin: 10px;
                padding: 5px;

                .mision-title{
                    -webkit-text-fill-color: rgb(255, 255, 255);
                    -webkit-text-stroke: 1px black;
                }

                &:hover{
                    transition: 1s;
                    padding: 10px;
                }
            }

            .vision{
                font-size: 17px;
                margin: 10px;
                padding: 5px;

                .vision-title{
                    -webkit-text-fill-color: rgb(255, 255, 255);
                    -webkit-text-stroke: 1px black;
                }

                &:hover{
                    transition: 1s;
                    padding: 10px;
                } 
            }
        }

        .principios{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /*4 columnas*/
            gap: 30px; /*Espaciado entre las columnas*/
            padding: 40px;
            align-items: center;
            
            .principios-title{
                font-size: 35px;
            }

            .principios-list{
                font-size: 19px;
                margin-top: 20px;
                list-style: circle;
                text-align: justify;

                li{
                    margin-bottom: 15px;
                }
            }

            img{
                border-radius: 10px;
                -webkit-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
            }
        }

        .fundadores{
            background-color: rgb(240, 240, 240);
            padding: 10px 0;

            .personas{
                display: grid;
                grid-template-columns: repeat(3, 1fr); /*4 columnas*/
                gap: 150px; /*Espaciado entre las columnas*/
                margin: auto;  
                padding: 60px;
            }

            @mixin edit-persona {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            @mixin persona-margen {
                img{
                    width: 50%;
                    border-radius: 100%;
                }
                h3{
                    margin-top: 10px;
                }
                p{
                    font-size: 18px;
                }
                .redes {
                    a{
                        margin: 0 10px;
                    }
                    .wp{
                        color: green;
                    }
                }
                
            }

            .person-one{
                @include edit-persona;
                @include persona-margen;
            }

            .person-two{
                @include edit-persona;
                @include persona-margen;
            }

            .person-three{
                @include edit-persona;
                @include persona-margen;
            }
        }
    }

    .servicios{
        
        background-color: rgb(19, 19, 68);
        color: white;
        padding: 20px;

        .text-services{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            p{
                font-size: 19px;
            }
        }

        .services-cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /*4 columnas*/
            gap: 25px; /*Espaciado entre las columnas*/
            margin: 20px 0;

            img{
                width: 150px;
            }

            .cards{
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                text-align: justify;
                padding: 12px;
            }
        }
    }

    .location{
        padding: 20px;
        iframe{
            width: 100%;
            margin: auto;
            border-radius: 10px;
        }
    }

    .questions{
        background-color: rgb(240, 240, 240);
        padding: 5px 20px 60px 20px;
    }

    .contacto{
        .p-contactanos{
            text-align: justify;
            font-size: 18px;
        }

        .numero-telefonico{
            background-color: rgb(1, 4, 41);
            color: whitesmoke;
            padding: 15px 0;
            border-radius: 10px;
            margin: 20px auto;

            .p-numero{
                font-size: 25px;
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
        }

        .container-formulario{
            background-color: rgb(1, 4, 41);
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 20px;

            .formulario{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                
                .datos-personales{

                    input{
                        margin: 10px 0 10px 0;
                        border-radius: 5px;

                        &::placeholder{
                            font-weight: bold;
                            opacity: .7;
                        }
                    }
                }

                .asunto-descripcion{

                    input{
                        margin: 10px 0 10px 0;
                        border-radius: 5px;

                        &::placeholder{
                            font-weight: bold;
                            opacity: .7;
                        }
                    }

                    textarea{
                        border-radius: 5px;

                        &::placeholder{
                            font-weight: bold;
                            opacity: .7;
                        }
                    }
                }
            }

            .container-boton{
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                
                .boton{
                    padding: 5px 3rem 5px 3rem;
                }
            }
        }
    }
}

footer{
    padding: 10px;
    background-color: rgb(1, 4, 41);

    .footer-links{
        font-size: 12px;
        padding: 35px;
    }

    .footer-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }

    ul{
        margin: 0 auto;

        li{
            line-height: 2.8;
            
            a{
                color: whitesmoke;
                text-decoration: none;

                &:hover{
                    color: $main-color-red;
                }
            }
        }
    }

    .copyright{
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

// Medium devices and small devices(smartphones 576px and tablets 768px)
@media (max-width: 768px){

    main{
        .nosotros{
            .mv-style{
                flex-direction: column;
            }
    
            .principios{
                grid-template-columns: repeat(1, 1fr);
            }

            .fundadores{
                .personas{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }

        .servicios{
            .services-cards{
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .contacto{
            .formulario{
                flex-direction: column;
            }

            .numero-telefonico{
                .p-numero{
                    font-size: 20px;
                }
            }

            .container-formulario{
                .formulario{
                    gap: 0;
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
        
        
    }

    footer{
        .footer-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}



